@use "../../scss/utils/mixins.scss" as *;
@use "../../scss/utils/variables.scss" as *;

.weekly {
  margin-bottom: 50px;
  &__wrapper {
    padding: 20px 25px 35px 25px;
    border-radius: 10px;
  }
  &__title {
    @include typography(Montserrat, 600, 10px);
    color: $secondaryBgColor;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-image: inherit;
      background-size: cover;
      background-position: center;
      filter: blur(1px); 
      z-index: 1;
    }
    > * {
      position: relative;
      z-index: 2;
    }
  }
  &__date {
    display: flex;
    width: 30%;
    gap: 5px;
    @include typography(Montserrat, 500, 10px);
  }
  &__temps {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include typography(Montserrat, 500, 10px);
  }
  &__subwrap {
    display: flex;
    gap: 5px;
  }
  &__description {
    display: flex;
    width: 30%;
    justify-content: end;
    @include typography(Montserrat, 500, 10px, null, null, null, end);
  }
}

.night {
  .weekly__date,
  .weekly__temps,
  .weekly__description {
    color: $secondaryTextColor;
  }
}
