@mixin typography($font-family, $font-weight, $font-size, $font-style: null, $line-height: null, $letter-spacing: null, $text-align: null) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  font-style: $font-style;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-align: $text-align;
}

@mixin flex($justify-content, $align-items: null, $gap: null, $flex-wrap: null, $flex-direction: null) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-wrap: $flex-wrap;
  flex-direction: $flex-direction;
}

@mixin tablet() {
  @media screen and (min-width: 830px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
