$accentColor: #4c8ecd;
$likeColor: #FF5F57;
$mainTextColor: #000000;
$secondaryTextColor: #fff;
$mainBgColor: #fff;
$secondaryBgColor: #1D2026;
$menuBgColor: #e6e6e6;
$ts: all 250ms ease-in-out;
$overlay: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48));
$inputBg: #e4e4e4;
$tempColor: #98B9D8;
$additionalTempColor: #B3C7DA;