@import "../../scss/utils/variables.scss";
@import "../../scss/utils/mixins.scss";

.hero {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
    // gap: 80px;
  }
  &__title {
    @include typography(Montserrat , 600, 14px);
    margin-bottom: 35px;
  }
  
}
