@use "../../../scss/utils/mixins.scss" as *;
@use "../../../scss/utils/variables.scss" as *;

.card {
  margin-right: 25px;
}
.top {
  width: 289px;
  height: 438px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 24px;
  }
  &__weather {
    @include typography(Montserrat, 600, 16px);
    color: $secondaryTextColor;
  }
  &__fav {
    background-color: transparent;
    svg {
      width: 20px;
      height: 20px;
      color: $secondaryTextColor;
      transition: $ts;
    }
  }
  &__fav:hover {
    svg {
      color: $likeColor;
    }
  }
  &__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: $accentColor;
    border: none;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
    overflow: hidden;
    transition: $ts;
    gap: 5px;
    color: $secondaryTextColor;
  }
  &__icon {
    transition: $ts;
    display: flex;
  }
  &__text {
    white-space: nowrap;
    opacity: 0;
    transition: $ts;
    width: 0px;
  }
  &__btn:hover {
    width: 150px;
    .top__text {
      opacity: 1;
      width: fit-content;
    }
    .top__icon {
      margin-left: 10px;
      display: none;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 24px;
  }
  &__city {
    @include typography(Montserrat, 600, 16px);
  }
  &__country {
    @include typography(Montserrat, 500, 16px);
  }
  &__add {
    display: flex;
    gap: 10px;
  }
  &__reload,
  &__del {
    background-color: transparent;
    width: 24px;
    height: 24px;
    svg {
      width: 20px;
      height: 20px;
      stroke-width: 1px;
      transition: $ts;
    }
  }
  &__reload:hover,
  &__del:hover {
    svg {
      color: $accentColor;
    }
  }
}
.night {
  .top {
    &__info {
      color: $secondaryTextColor;
    }
    &__reload,
    &__del {
      color: $secondaryTextColor;
    }
  }
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  width: 289px;
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__time {
    @include typography(Montserrat, 500, 24px);
  }
  &__date {
    @include typography(Montserrat, 500, 14px);
    display: flex;
    gap: 5px;
  }
  &__temp {
    @include typography(Montserrat, 700, 48px);
    display: flex;
    p {
      color: $tempColor;
    }
    span {
      color: $additionalTempColor;
    }
  }
}

@include desktop() {
  .top {
    width: 392px;
    height: 438px;
  }
  .bottom {
    width: 392px;
  }
}
