@use './reset';
@use "../utils/variables.scss";
@import 'normalize.css';

body {
    background-color: $mainBgColor;;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
}