@import "../../../scss/utils/variables.scss";
@import "../../../scss/utils/mixins.scss";

.date {
  display: flex;
  margin-bottom: 48px;
  &__wrapper {
    display: flex;
    gap: 25px;
  }
  &__line {
    border: 1px solid $secondaryTextColor;
    height: 80px;
    width: 0px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80px;
  }
  &__cur {
    @include typography(Montserrat, 500, 10px);
    color: $secondaryTextColor;
  }
  &__title {
    @include typography(Montserrat, 500, 10px);
    color: $secondaryTextColor;
    width: 140px;
  }
  &__subwrap {
    display: flex;
  }
  &__suffix {
    @include typography(Montserrat, 500, 7px);
    margin-bottom: 5px;
  }
}

@include tablet() {
  .date {
    gap: 0;
    margin-bottom: 64px;
    &__wrapper {
      position: relative;
    }
    &__line {
      position: absolute;
      top: 0;
      left: 206px;
      height: 110px;
    }
    &__wrap {
      flex-direction: row;
      gap: 68px;
      height: 110px;
    }
    &__title {
      text-align: right;
      @include typography(Montserrat, 500, 14px);
      width: 172px;
    }
    &__cur {
      @include typography(Montserrat, 500, 14px);
      width: 172px;
    }
    &__suffix {
      @include typography(Montserrat, 500, 10px);
    }
  }
}

@include desktop() {
  .date {
    margin-bottom: 80px;
    &__line {
      height: 144px;
      left: 397px;
    }
    &__wrap {
      height: 144px;
      gap: 104px;
    }
    &__title {
      text-align: right;
      @include typography(Montserrat, 500, 24px);
      width: 345px;
    }
    &__cur {
      @include typography(Montserrat, 500, 24px);
      width: 345px;
    }
    &__suffix {
      @include typography(Montserrat, 500, 17px);
    }
  }
}
