@import "../../scss/utils/variables.scss";
@import "../../scss/utils/mixins.scss";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  transition: all 250ms ease-in-out;
  background-color: $mainBgColor;
  padding: 25px;
  border-radius: 25px;
  &__title {
    @include typography(Montserrat Alternates, 500, 20px);
    margin-bottom: 30px;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    @include typography(Montserrat Alternates, 500, 12px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
  }
  &__input {
    background-color: $inputBg;
    @include typography(Montserrat, 500, 12px);
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    width: 243px;
    transition: $ts;
  }
  &__input:focus {
    outline: 1px solid $accentColor;
    color: $accentColor;
  }
  &__submit {
    @include typography(Montserrat, 400, 12px);
    padding: 10px 30px;
    border: 1px solid $accentColor;
    background-color: $accentColor;
    color: $secondaryTextColor;
    border-radius: 10px;
    transition: $ts;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 110px;
  }
  &__submit:hover {
    background-color: transparent;
    color: $mainTextColor;
  }
  &__btn {
    background-color: transparent;
    transition: $ts;
    @include typography(Montserrat, 500, 8px);
  }
  &__btn:hover {
    color: $accentColor;
  }
  &__span {
    text-decoration: underline;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 250ms ease-in-out;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

@include tablet() {
  .modal {
    padding: 45px;
    &__input {
      width: 310px;
    }
  }
}
@include desktop() {
  .modal {
    padding: 30px 80px;
    &__title {
      @include typography(Montserrat, 500, 28px);
      margin-bottom: 40px;
    }
    &__label {
      @include typography(Montserrat Alternates, 500, 14px);
      margin-bottom: 30px;
    }
    &__input {
      @include typography(Montserrat Alternates, 500, 14px);
      width: 440px;
      padding: 16px 20px;
    }
    &__submit {
      @include typography(Montserrat, 400, 14px);
      width: 120px;
    }
    &__btn {
      @include typography(Montserrat, 500, 10px);
    }
  }
}
