@import "../../scss/utils/variables.scss";
@import "../../scss/utils/mixins.scss";

.news {
  display: none;
}

@include tablet {
  .news {
    display: block;
    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    &__title {
      text-align: center;
      @include typography(Montserrat, 500, 20px);
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 20px;
    }
    &__item {
      width: 320px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__img {
      height: 150px;
      border-radius: 10px;
    }
    &__description {
      overflow: hidden;
      display: -webkit-box;
      // -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      @include typography(Montserrat, 500, 16px);
    }
  }
}
