@import "../../scss/utils/mixins.scss";
.slider {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0;
  }
  &__swiper {
    width: 100%;
    max-width: 1100px;
  }
  &__slide {
    width: 250px;
    height: 120px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@include tablet() {
  .slider {
    &__slide {
      width: 250px;
      height: 120px;
    }
  }
}
@include desktop() {
  .slider {
    &__slide {
      width: 360px;
      height: 211px;
    }
  }
}
