.sliderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 70px 0;
}

.swiper {
  width: 100%;
  max-width: 1100px;
}

.slide {
  width: 360px ;
  height: 211px;
  border-radius: 20px;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.lazyImg {
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: blur(12px);
  transform: scale(1.05);
  transition: filter 0.5s ease, transform 0.5s ease, opacity 0.3s ease;
}

.loaded {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
}

.swiper-slide {
  opacity: 0.5;
  transition: 0.3s ease;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.15) !important;
}
